@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --textcolor: #ffffff;
    --animation: #E38E49;
    --buttoncolor: #1F509A;
}

body{
    background-color: #000000;
    /* background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.08) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
    background-size: 40px 40px;  */
    color: var(--textcolor);
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVIGATION START */

.nav{
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.396);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); /* more subtle */
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1); /* glow effect */
}

.logo{
    padding-left: 4%;
    font-size: 2rem;
    cursor: default;
}

.components{
    padding-right: 9%;
}

.components ul{
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

.underline-animate {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
  
.underline-animate::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--animation);
    transition: width 0.3s ease;
}
  
.underline-animate:hover::after {
    width: 100%;
}

/* NAVIGATION END */

/* HOME START */

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-div{
    position: absolute;
    width: 550px;
    height: 550px;
    background-color: var(--animation);
    
    border-radius: 20px;
    transform: rotate(45deg)
}

.home .div_2{
    animation:  darkGlow 2s ease-in-out infinite;
}

@keyframes darkGlow {
    0%, 100% {
      box-shadow:
        0 0 10px #B36228,
        0 0 20px #B36228,
        0 0 30px #703c1c,
        0 0 40px #5c2e13;
    }
    50% {
      box-shadow:
        0 0 20px #D07936,
        0 0 30px #b65a1b,
        0 0 40px #743e1a,
        0 0 50px #4b210c;
    }
  }

.home .home-div:first-child{
    transform: rotate(90deg);

    background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
    
}

.home .home-div:nth-last-child(1){
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.home .home-h1{
    transform: translate(-320px, -150px);
    font-family: "Orbitron", sans-serif;
    font-size: 5rem;
}

.home .home-h1:nth-last-child(1){
    transform: translate(290px, -150px);
}

.home_scroll {
    position: absolute;
    top: 85%;
    right: 20px;
    transform: rotate(90deg);
}

.scroll-animation::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1.5px;
    left: 110%;
    bottom: 10px;
    background-color: var(--animation);

    animation: animate 1.5s ease-in-out infinite;
    /* animation-delay: 5s; */
}

@keyframes animate {
    0% {
      left: 110%;
      width: 0%;
    }
    20% {
      left: 110%;
      width: 120%;
    }
    40% {
      left: 230%;
      width: 0%;
    }
    50% {
      left: 0%;
      width: 0%;
    }
    100% {
      left: 0%;
      width: 0%;
    }
}

/* HOME END */

/* ABOUT START  */

.about{
    width: 80%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.part-start{
    text-align: center;
    font-size: 8rem;
    position: relative;
    
}

.part-start::before,
.part-start::after{
    content: '';
    display: inline-block;
    top: 0;
    width: 30px;
    height: 16px;
    background: var(--animation);
    border-radius: 20px 20px 0 0;
    margin: 0 10px;
    vertical-align: middle;
}

.main-para{
    font-size: 2rem;
    line-height: 3rem;
    word-spacing: 1rem;
}

.about-me{
    display: flex;
    gap: 5%;
    padding-bottom: 5%;
}

.about-img img{
    width: 50vh;
    border-radius: 50%;
    border: 7px solid gray;
    position: sticky;
    top: 15vh;
    z-index: 1;
}

.about-me .about-para p{
    font-size: 2rem;
    line-height: 3rem;
    word-spacing: 1rem;
}

.about-para p h1{
    color: var(--animation);
    display: inline;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    word-spacing: 1rem;
}
/* ABOUT END  */

/* SKILL START  */

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.skill-para{
    width: 80%;
    font-size: 2rem;
    line-height: 3rem;
    word-spacing: 1rem;
}

.skill-para h1{
    color: var(--animation);
    display: inline;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    word-spacing: 1rem;
}

.skill .hr{
    width: 96%;
    background-color: var(--animation);
    padding: 1px;
    box-shadow:
    0 4px 12px rgba(227, 142, 73, 1),
    0 8px 24px rgba(227, 142, 73, 1),
    0 12px 36px rgba(227, 142, 73, 0.9);
}

.skill-card-cont{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5%;
}

.skill-cards{
    max-width: 25%;
    margin-bottom: 4%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.skill-cards:hover{
    /* border: 2px solid gray; */
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: 0 0 12px #E38E49, 0 0 24px #E38E49;
}

.skill-cards h1{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3rem;
}

.skill-cards .skill-types{
    display: flex;
    flex-flow: row wrap;
    gap: 3%;
}

.skill-types p{
    display: inline;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2px 20px;
    border: 2px solid var(--animation);
    border-radius: 50px;
    cursor: pointer;
}

/* SKILL END  */

/* PROJECT START  */

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-list{
    width: 100%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.project1{
    width: 80%;
}


.p1-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.project .p1-video .video{
    width: 105%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.p1-video .video:hover{
    transform: scale(1.05);
}

.p1-video:hover{
    border-radius: 17px;
}

.project h1{
    font-size: 3.5rem;
    font-weight: 700;
}

.project p{
    font-size: 1.9rem;
    font-weight: 300;
}

.p-types{
    display: flex;
    gap: 10px;
}

.project2{
    display: flex;
    position: relative;
    gap: 10px;
    width: 80%;
}

.project2 .p1-video{
    width: 50%;
}

.project2 .p1-video img{
    width: 100%;
    filter: brightness(120%);
    transition: all 0.3s ease-in-out;
}

.project2 .p1-video:hover img{
    transform: scale(1.1);
}

.project2 .pro2-p{
    position: absolute;
    left: 50.8%;
    top: 23%;
}

.project2-p{
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50.8%;
    top: 35%;
}

.project2-p p{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 300;
    padding: 2px 20px;
    border: 2px solid var(--animation);
    border-radius: 50px;
    cursor: pointer;
}

.project3{
    position: relative;
    width: 80%;
}

.p3-video{
    width: 45%;
    position: absolute;
    right: 0;
    top: -170px;
}

.p3-video img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.p3-video:hover img{
    transform: scale(1.1);
}

.pro3-p{
    position: absolute;
    top: 70px;
    left: 32.1%;
}

.project3 h1{
    left: 30%;
    top: -20px;
}

.project3-p{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 45.5%;
    top: 120px;
}

.project3-p p{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 300;
    padding: 2px 20px;
    border: 2px solid var(--animation);
    border-radius: 50px;
    cursor: pointer;
}

/* PROJECT END  */


/* CONNECT START  */



/* CONNECT END  */

