@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --textcolor: #ffffff;
    --animation: #E38E49;
    --buttoncolor: #1F509A;
}

body{
    background-color: #000000;
    /* background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.08) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
    background-size: 40px 40px;  */
    color: var(--textcolor);
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVIGATION START */

.nav{
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.396);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); /* more subtle */
box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1); /* glow effect */

}

.logo{
    font-size: 2rem;
    cursor: default;
}

.components ul{
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

.underline-animate {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
  
.underline-animate::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--animation);
    transition: width 0.3s ease;
}
  
.underline-animate:hover::after {
    width: 100%;
}

/* NAVIGATION END */

/* HOME START */

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-div{
    position: absolute;
    width: 550px;
    height: 550px;
    background-color: var(--animation);
    
    border-radius: 20px;
    transform: rotate(45deg)
}

.home .home-div:first-child{
    transform: rotate(90deg);
    /* background-color: gray; */

    background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
    
}

.home .home-div:nth-last-child(1){
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.home .home-h1{
    transform: translate(-320px, -150px);
    font-family: "Orbitron", sans-serif;
    font-size: 5rem;
}

.home .home-h1:nth-last-child(1){
    transform: translate(290px, -150px);
}

/* HOME END */

/* ABOUT START  */

.about{
    width: 80%;
    height: 100vh;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.part-start{
    text-align: center;
    font-size: 8rem;
    position: relative;
    
}

.part-start::before,
.part-start::after{
    content: '';
    display: inline-block;
    top: 0;
    width: 30px;
    height: 16px;
    background: var(--animation);
    border-radius: 20px 20px 0 0;
    margin: 0 10px;
    vertical-align: middle;
}

.main-para{
    font-size: 2rem;
    line-height: 3rem;
    word-spacing: 1rem;
}

.about-me{
    display: flex;
    gap: 5%;
}

.about-img img{
    width: 50vh;
    border-radius: 50%;
    border: 7px solid gray;
    position: sticky;
    top: 15vh;
    z-index: 1;
}

.about-me .about-para p{
    /* height: 50vh; */
    font-size: 2rem;
    line-height: 3rem;
    word-spacing: 1rem;
}
/* ABOUT END  */